.premier, .shipping, .quality{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
}
.bold{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 3.6em;
    position: relative;
}
.img{
    max-width: 20%;
    height: auto;
    margin-top: 15px;
    margin-left: 10px;
}
.logo{
    grid-area: 1/1/2/4;
    font-size: 75px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin-bottom: 50px;
}
.links{
    text-align: center;
    grid-area: 2/2/3/3;
    margin-bottom: 35px;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
}
.format{
    color: black;
    text-decoration: none;
    background-color: none;
    font-size: 1.2em;
}
.intro{
    grid-area: 3/2/4/3;
    font-size: 3.9em;
    text-align: center;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 80px;
    margin-bottom: 25px;
}
.adress{
    grid-area: 4/2/5/3;
    margin: auto;
    margin-bottom: 120px;
    text-align: center;
}
.email{
    font-size: 2em;
    width: 650px;
    height: 65px;
}
.click{
    margin-top: 15px;
    height: auto;
    font-size: 2.5em;
    font-weight: 400;
    background-color: yellow;
    padding: 15px 20px;
}
.premier{
    grid-area: 5/2/6/3;
}
.shipping{
    grid-area: 6/2/7/3;
}
.quality{
    grid-area: 7/2/8/3;
}
.videoWrapper {
    grid-area: 8/1/9/4;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.heading{
    display: flex;
    flex-direction: row;
    font-family: 'Raleway', sans-serif;
    padding: 30px 30px;
    letter-spacing: 4px;
    font-weight: 800;
    font-size: 2.5em;
    justify-content: center;
    background-color: rgb(219, 213, 213) !important;
}
.text{
    font-family: 'Raleway', sans-serif;
    line-height: 50px;
    font-size: 1.4em;
}
.tenor, .bass, .valve{

    border: solid black 2px;
    border-radius: 1.1%;
    background-color: rgb(240, 235, 235);
    text-align: center;
    margin-top: 150px;
    padding-bottom: 20px;
    justify-self: center;
    width: 800px;
}
.tenor{
    grid-area: 9/2/10/3     !important;
}
.bass{
    grid-area: 10/2/11/3    !important;
}
.valve{
    grid-area: 11/2/12/3    !important;
}
.fbold{
    font-weight: 900;
    word-spacing: 50px;
}
.fnotes{
    margin-top: 25px;
    background-color: rgb(219, 213, 213) !important;
    grid-area: 12/1/13/4;
    text-align: end;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    word-spacing: 2px;
}
.container{
    width: 100%;
    background-color: rgb(240, 235, 235);
    display: grid;
    grid-template-rows: auto auto auto auto repeat(3,0.4fr) auto repeat(3, 1fr) auto;
    grid-template-columns: 25px auto 25px; 
}
